  <h2>User info</h2>
    <%= attachment_image_tag current_user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size:'100x100' %>
    <table class="table">
      <tbody>
        <tr>
        </tr>
        <tr>
          <th>name</th>
          <th><%= current_user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
        <th><%= current_user.introduction %></th>
      </tr>
      </tbody>
    </table>