<td>
  <% if book.favorited_by?(current_user) %>
        <%= link_to book.favorites.count, book_favorites_path(book.id), method: :delete, remote: true, class: "fas fa-heart heart_red" %>
      <% else %>
        <%= link_to book.favorites.count, book_favorites_path(book.id), method: :post, remote: true, class: "fas fa-heart heart_blue" %>
  <% end %>
</td>