<body>
  <h1>welcome to <strong>Bookers</strong>!!</h1>
  <p>in <strong>Bookers</strong>,</p>
  <p>you can share and exchange your opinions , inpressions , and emotions</p>
  <p>about various books!</p>
  
    <% if user_signed_in? %>
      <li>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "Sign up", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "Login", new_user_session_path %>
      </li>
    <% end %>
  
</body>